@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  }

  .dark {
  }

  html {
  }

  body {
  }

  main {
  }

  a {
    @apply no-underline;
  }

  ul,
  ol {
    @apply m-0 list-none p-0;
  }

  img {
    @apply block h-auto max-w-full;
  }

  button {
    @apply m-0 cursor-pointer p-0;
  }

  input,
  textarea {
    @apply m-0 box-border p-0 outline-none;
  }

  input::placeholder,
  textarea::placeholder {
  }

  /* 
  input:disabled,
  textarea:focus {
    @apply bg-gray01;
  } */

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* color: black !important;
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-clip: text !important; */
  }

  input:-webkit-autofill:disabled {
    /* -webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset !important; */
  }

  table {
    @apply border-collapse border-spacing-0;
  }

  th,
  td {
    @apply p-0 text-left;
  }
}
